build
build/revision
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspectivev3
*.xcodeproj/*.mode1v3
*.xcodeproj/*.tm_build_errors
*.tmproj
.DS_Store
IVLE.xcdatamodeld/.svn/all-wcprops
IVLE.xcdatamodeld/.svn/entries
IVLE.xcdatamodeld/.svn/text-base/.xccurrentversion.svn-base
IVLE.xcdatamodeld/.svn/text-base/CAP.h.svn-base
IVLE.xcdatamodeld/.svn/text-base/CAP.m.svn-base
IVLE.xcdatamodeld/.svn/text-base/CAPModule.h.svn-base
IVLE.xcdatamodeld/.svn/text-base/CAPModule.m.svn-base
IVLE.xcdatamodeld/.svn/text-base/CoreDataTimetable.h.svn-base
IVLE.xcdatamodeld/.svn/text-base/CoreDataTimetable.m.svn-base
IVLE.xcdatamodeld/.svn/text-base/CoreDataTimetableClassInfo.h.svn-base
IVLE.xcdatamodeld/.svn/text-base/CoreDataTimetableClassInfo.m.svn-base
IVLE.xcdatamodeld/.svn/text-base/CoreDataTimetableDay.h.svn-base
IVLE.xcdatamodeld/.svn/text-base/CoreDataTimetableDay.m.svn-base
IVLE.xcdatamodeld/.svn/text-base/CoreDataWorkbin.h.svn-base
IVLE.xcdatamodeld/.svn/text-base/CoreDataWorkbin.m.svn-base
IVLE.xcdatamodeld/.svn/text-base/CoreDataWorkbinObject.h.svn-base
IVLE.xcdatamodeld/.svn/text-base/CoreDataWorkbinObject.m.svn-base
IVLE.xcdatamodeld/.svn/text-base/Events.m.svn-base
IVLE.xcdatamodeld/.svn/text-base/EventsData.h.svn-base
IVLE.xcdatamodeld/.svn/text-base/EventsData.m.svn-base
IVLE.xcdatamodeld/.svn/text-base/IVLEAPICache.h.svn-base
IVLE.xcdatamodeld/.svn/text-base/IVLEAPICache.m.svn-base
IVLE.xcdatamodeld/.svn/text-base/ModuleList.h.svn-base
IVLE.xcdatamodeld/.svn/text-base/ModuleList.m.svn-base
IVLE.xcdatamodeld/.svn/text-base/Semester.h.svn-base
IVLE.xcdatamodeld/.svn/text-base/Semester.m.svn-base
IVLE.xcdatamodeld/IVLE.xcdatamodel/.svn/all-wcprops
IVLE.xcdatamodeld/IVLE.xcdatamodel/.svn/entries
IVLE.xcdatamodeld/IVLE.xcdatamodel/.svn/prop-base/elements.svn-base
IVLE.xcdatamodeld/IVLE.xcdatamodel/.svn/prop-base/layout.svn-base
IVLE.xcdatamodeld/IVLE.xcdatamodel/.svn/text-base/elements.svn-base
IVLE.xcdatamodeld/IVLE.xcdatamodel/.svn/text-base/layout.svn-base
IVLE.xcdatamodeld/IVLE.xcdatamodeld-1.moved-aside/.svn/all-wcprops
IVLE.xcdatamodeld/IVLE.xcdatamodeld-1.moved-aside/.svn/entries
IVLE.xcdatamodeld/IVLE.xcdatamodeld-1.moved-aside/.svn/text-base/CoreDataWorkbinObject.h.svn-base
IVLE.xcdatamodeld/IVLE.xcdatamodeld-1.moved-aside/.svn/text-base/CoreDataWorkbinObject.m.svn-base
IVLE.xcdatamodeld/IVLE.xcdatamodeld-2.moved-aside/.svn/all-wcprops
IVLE.xcdatamodeld/IVLE.xcdatamodeld-2.moved-aside/.svn/entries
IVLE.xcdatamodeld/IVLE.xcdatamodeld-2.moved-aside/.svn/text-base/CoreDataWorkbinObject.h.svn-base
IVLE.xcdatamodeld/IVLE.xcdatamodeld-2.moved-aside/.svn/text-base/CoreDataWorkbinObject.m.svn-base
IVLE.xcodeproj/.svn/all-wcprops
IVLE.xcodeproj/.svn/entries
IVLE.xcodeproj/.svn/prop-base/project.pbxproj.svn-base
IVLE.xcodeproj/.svn/text-base/ericdong.pbxuser.svn-base
IVLE.xcodeproj/.svn/text-base/project.pbxproj.svn-base
IVLE.xcodeproj/.svn/tmp/project.pbxproj.2.tmp
IVLE.xcodeproj/.svn/tmp/project.pbxproj.3.tmp
IVLE.xcodeproj/.svn/tmp/project.pbxproj.4.tmp
IVLE.xcodeproj/.svn/tmp/project.pbxproj.5.tmp
IVLE.xcodeproj/.svn/tmp/project.pbxproj.tmp
IVLE.xcodeproj/.svn/tmp/tempfile.2.tmp
IVLE.xcodeproj/.svn/tmp/tempfile.tmp